<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
<form action="events/add" method ="post">
<label for="title">Title</label>
<input type="text" name="title" id = "title" placeholder="Enter event name!">
<label for="room_location">Room Location</label>
<select for="room" name ="room_location" id = "room_location">
<option disabled selected>Select room location</option>
<option name="room" value="1">1</option>
<option name="room" value="2">2</option>
<option name="room" value="3">3</option>
<option name="room" value="4">4</option>
</select>
<label for="description">Enter description</label>
<textarea name="description" id="description" placeholder="Please enter a description"></textarea>
<input type="submit" value="Add Event">
</form>

    
</body>
</html>