<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

</head>
<body>
<header>{{ title }}</header>


    
    <table class = "table">
        <tr>
            <th>Name:</th>
            <th>Date:</th>
            <th>Number of Guests</th>
            <th>Room Number</th>
            <th>Description</th>
            <th>Recurring Event</th>

        </tr>
    
    {% for event  in events  %}
    
    <tr>
        <td><a href="http://127.0.0.1:4999/events/{{event.index}}">{{ event.name }}</a></td>
        <td>{{ event.date }}</td>
        <td>{{ event.guests}} </td>
        <td>{{ event.room_location }}</td>
        <td>{{ event.description}}</td>
        <td>{{ event.recurring }}</td>
        </tr>
          
    {% endfor %}
    </table>

    <form action="/events" method ="post">
<label for="name">Name</label>
<input type="text" name="name" id = "name" placeholder="Enter event name!">
<br>

<label for="date">Date</label>
<input type="date" name="date" id="date" value="date">
<br>

<label for="recurring">Is this event recurring?</label>
<div class="recurring__checkboxes">
<label for="recurring">Yes</label>
<input type="checkbox" name="recurring" id="recurring" value="Yes">
<label for="recurring">No</label>
<input type="checkbox" name="recurring" id="recurring" value="No">
</div>

<label for="guests" name="guests">Number of guests</label>
<input type="number" name ="guests" id="guests" min="0">
<br>

<label for="room_location">Room Location</label>
<select for="room" name ="room_location" id = "room_location">
<option disabled selected>Select room location</option>
<option name="room" value="1">1</option>
<option name="room" value="2">2</option>
<option name="room" value="3">3</option>
<option name="room" value="4">4</option>
</select>
<br>
<label for="description">Enter description</label>
<textarea name="description" id="description" placeholder="Please enter a description"></textarea>
<br>
<input type="submit" value="Add Event">
</form>


    
    
</body>
</html>